#navbar {
    margin-bottom: 10px
}

#button_click {
    width: 50%;
    justify-content: center;
}
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

  .wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

table {
    font-family: arial, sans-serif;
    width: 70%;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

td,
th {
    text-align: middle;
    border: 2px solid #dddddd;
    padding: 8px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;

}

tr:nth-child(even) {
    background-color: #dddddd;
    border: 2px solid black;

}

tr:nth-child(odd) {
    background-color: #ffffff;
    border: 2px solid black;

}
  